<div class="w-full">
    <div class="pl-3">
  
      <div class="pt-6">
        <button [routerLink]="'/profile'"
          class="h-12 text-xl font-bold text-white bg-blue-600 w-60 active:bg-slate-700 hover:bg-blue-800 disabled:bg-gray-500"
        >
          Perfil de usuario
        </button>
      </div>
      
      <div class="pt-6">
        <button [routerLink]="'/statistics/lost'"
          class="h-12 text-xl font-bold text-white bg-blue-600 w-60 active:bg-slate-700 hover:bg-blue-800 disabled:bg-gray-500"
        >
          Partidos perdidos
        </button>
      </div>
      <div class="pt-6">
        <button
          class="h-12 text-xl font-bold text-white bg-blue-600 w-60 active:bg-slate-700 hover:bg-blue-800 disabled:bg-gray-500"
        >
          Goles en propia puerta
        </button>
      </div>
    </div>
  </div>
  